body{
    /* background-image: linear-gradient(#ff7722,#fff,green); */
    background-color: #deb3e4;
    overflow-y: scroll;
}

.testContainer{
   background-color: #7617c4;
   background-image: linear-gradient(#ff7722,#fff,green);
   border-radius: 3vh;
}

.testContainer h2{
    color: rgb(0, 0, 0);
    display: flex;
   justify-content: center;
}

.input1{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.input2{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input3{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input4 {
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input5{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.input6{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input7{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input8{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.input9{
    width: 90vw;
    outline: none;
    border: none;
    border-radius: 3vh;
    height: 20px;
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.TESTTIMER{
    display: flex;
    justify-content: center;
    border:3px solid greenyellow;
    border-radius: 3vh;
    background-color: #ff2277;
}

.YO{
font-size: large;
text-align: center;
}

.btn{
    width: 130px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    background-image: linear-gradient(#7843a3,rgb(214, 99, 119),rgb(59, 167, 59));
}

.btn2{
    width: 130px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    background-image: linear-gradient(#7843a3,rgb(214, 99, 119),rgb(59, 167, 59));
}

.btn3{
    width: 130px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    background-image: linear-gradient(#7843a3,rgb(214, 99, 119),rgb(59, 167, 59));
}

.btn4{
    width: 130px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    background-image: linear-gradient(#7843a3,rgb(214, 99, 119),rgb(59, 167, 59));
}

.btn5{
    width: 130px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    background-image: linear-gradient(#7843a3,rgb(214, 99, 119),rgb(59, 167, 59));
}

.btn6{
    width: 130px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    background-image: linear-gradient(#7843a3,rgb(214, 99, 119),rgb(59, 167, 59));
}

#click{
    background-image: linear-gradient(#f18740,rgb(17, 95, 168),rgb(128, 23, 160));
    width: 130px;
    height: 30px;
    border: none;
    outline: none;
     display: flex;
     margin: auto;  
     font-weight: 700;
     border-radius: 1.5VH;
     padding: 10PX 15PX;
     margin-TOP:20PX ;
     display: none;
}

.input{
    margin-top: 10PX;
    width: 330px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #7617c4;
    display: none;
}

#Correct{
    display: flex;
    float: right;
}

#MEMBERS{
    border: 2PX SOLID BLACK;
    height:10VH;
    background-color: #d15a5a;
    border-radius: 3VH;
}

#AGAIN{
    margin-top: 10PX;
    width: 330px;
    border-radius: 10px;
    height: 30px;
    font-weight: 900;
    background: rgb(238, 27, 168);
    border: none;
    outline: none;
    display: flex;
    margin: auto;
    padding: 5px 35px;
    background-color: #f3e8fc;
    display: none;
    margin-top: 10px;
    bottom: 10px;
}
 

.msg{
    /* border: 2px solid rgb(0 0 0); */
    width: 490px;
    border-radius: 3vh;
    height: 35px;
    display: flex;
    margin: auto;
    background-color: rgb(255 228 196);
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    PADDING:5PX;
    margin-top: 10px;
}








@media  screen and(min-width:320px),(max-width:600px) {

    .YO{
        font-size: x-small;
        text-align: center;
        color: #4c0a83;
        }
    .testContainer{
        background-color: #ffffff;
        background-image: linear-gradient(#ffaaab,#beef00,#e1b382)
    }
    .Q1 h2{
     font-size: 2px;
     margin-top:0px;
     font-family: monospace;
     
    }

    .Q2 h2{
        font-size: 2px;
        margin-top:0px;
         font-family: monospace;;
       }

       .Q3 h2{
        font-size: 2px;
        margin-top:0px;
         font-family: monospace;;
       }

       .Q4 h2{
        font-size: 2px;
        margin-top:0px;
         font-family: monospace;;
       }

       .Q5 h2{
        font-size: 2px;
        margin-top:0px;
        font-family: monospace;
       }

       .Q6 h2{
        font-size: 2px;
        margin-top:0px;
        font-family: monospace;
       }

}

@media screen and(min-width:768px),(max-width:800px){
    /* .testContainer{
        background-color: #beef00;
        background-image: linear-gradient(#8076a3,#ff414e,#76c1d4);
    } */
    .Q1 h2{
        font-size: 15px;
        margin-top:4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
   
       .Q2 h2{
           font-size: 15px;
           margin-top:2.6vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q3 h2{
           font-size: 15px;
           margin-top:2.6vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q4 h2{
           font-size: 15px;
           margin-top:2.6vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q5 h2{
           font-size: 15px;
           margin-top:2.6vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
   
          .Q6 h2{
           font-size: px;
           margin-top:2.6vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
}



@media screen and(min-width:360px),(max-width:740px){

    #Correct{
        font-size: 12px;
    }

    #qna{
     font-size: x-small;
    }

    .msg{
        width:120px;
        font-size: 8px;

    }
    
    .input{
        width:160px;

    }

    #AGAIN{
        width:190px;
    }

    .TESTTIMER{
        font-size: 8px;
    }
    .Q1 h2{
        font-size: 14.5px;
        margin-top:4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
   
       .Q2 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q3 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q4 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q5 h2{
           font-size: 14.5px;
           margin-top:2vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
   
          .Q6 h2{
           font-size: 14.5px;
           margin-top:2vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
}


@media screen and(min-width:1024px),(max-width:1366px){

    .TESTTIMER{
        font-size: 8px;
    }
    .Q1 h2{
        font-size: 14.5px;
        margin-top:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
   
       .Q2 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q3 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q4 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q5 h2{
           font-size: 14.5px;
           margin-top:2vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
   
          .Q6 h2{
           font-size: 14.5px;
           margin-top:2vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
}


@media screen and(min-width:1025px),(max-width:1366px){

    .TESTTIMER{
        font-size: 15px;
    }

    .Q1 h2{
        font-size: 14.5px;
        margin-top:0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       }
   
       .Q2 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q3 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q4 h2{
           font-size: 14.5px;
           margin-top:2vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
          }
   
          .Q5 h2{
           font-size: 14.5px;
           margin-top:2vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
   
          .Q6 h2{
           font-size: 14.5px;
           margin-top:2vh;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
}
